@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
}

p{
    font-family: Outfit;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 15px;
}


.p1{
    font-family: Outfit;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

img{
    width: 300px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 10px;
}



main{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.1px 11px 15px 0px rgba(0, 0, 0, 0.247);
}

.attribution{
    font-family: Outfit;
    text-decoration: none;
}



